<% layout("./layouts/boilerplate") %>
<body>
    <h2 class="results-heading">Results for "<%= searchQuery %>"</h2>

<% if (listings.length === 0) { %>
  <p class="no-results">No listings found.</p>
<% } else { %>
  <div class="listing-container">
    <% listings.forEach(listing => { %>
      <a href="/listings/<%= listing._id %>">
        <div class="listing-card">
          <h3><%= listing.title %></h3>
          <p><strong>Location:</strong> <%= listing.location %></p>
          <p><strong>Price:</strong> ₹<%= listing.price %></p>
          <img src="<%= listing.image.url %>" alt="Listing image" />
        </div>
      </a>
    <% }) %>
  </div>
<% } %>

</body>